.admin-table{
    padding: 1rem;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

 a{
    text-decoration: none;
}

.admin-table table {
    border-collapse: collapse;
    padding: 1rem;
    width: 100%;
}

.admin-table thead{
    background-color:  var(--light-bg);
    border-radius: 3px;
    font-weight: 600;
}

.admin-table td, th{
    height: 2rem;
    padding-inline: 1rem;
}

.admin-table tbody tr{
    height: 3rem;
}

.admin-table tbody tr:not(:last-child){
    border-bottom: var(--light-gray) solid 1px;
}

.admin-table tbody .admin-actions-column {
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    gap: .5rem
}

.admin-table tbody .admin-actions-column button{
    border: none;
    outline: none;
    color: #fff;
    padding: .3rem;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
}

.admin-table tbody .admin-actions-column button:active{
    transform: scale(0.98);
    transition: 0s;
}

.admin-table tbody .admin-actions-column .edit-btn{
    background-color: var(--primary);
}

.admin-table tbody .admin-actions-column .delete-btn{
    background-color: var(--danger);
}

.admin-table tbody .admin-actions-column .details-btn{
    background-color: gray;
}

/* click */
.admin-table tbody .admin-actions-column .delete-btn:active{
    background-color: var(--danger-click);
}

.admin-table tbody .admin-actions-column .edit-btn:active{
    background-color: var(--primary-click);
}

.admin-table tbody .admin-actions-column .details-btn:active{
    background-color: rgb(75, 74, 74);
}

/* hover */
.admin-table tbody .admin-actions-column .delete-btn:hover{
    background-color: var(--danger-hover);
}

.admin-table tbody .admin-actions-column .details-btn:hover{
    background-color: var(--light-gray);
}

.admin-table tbody .admin-actions-column .edit-btn:hover{
    background-color: var(--primary-hover);
}

.admin-table-upper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin-table-upper-btn{
    border: solid 2px var(--primary);
    outline: none;
    background: none;
    padding: .2rem .3rem;
    margin-bottom: .4rem;
    border-radius: 3px;
    color: var(--primary);
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.admin-table-upper-link{
    border: none;
    outline: none;
    background: none;
    padding: .2rem .3rem;
    margin-bottom: .2rem;
    color: var(--primary);
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    transition: .3s;
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
}

.admin-table-upper-btn:hover{
    background: var(--primary);
    color: #fff;
    transform: scale(1.06);
}

.admin-table-upper-btn:active{
    background: var(--primary);
    color: #fff;
    transform: scale(.99);
}
