.admin-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100vh;
}
/* .admin-sidebar{
    display: flex;
    flex: .2;
    height: 100vh;
    background: aqua;
} */
