.banner-container{
    height: 550px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.banner-text{
    color: white;
    font-size: 30px;
    backdrop-filter: brightness(60%);;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}